.face{
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    top:0;
    left: 0;
}

.frente{
    background-color: red;
    transform: translateZ(100px) translate(200px) ;  /*trazendo pra frente*/
}
.tras{
    background-color: yellow;
    transform: translateZ(-100px)   rotateY(180deg);
}

.baixo {
  background-color: magenta;
  transform: translateY(-100px) rotateX(-90deg);
}
.direita {
  background-color: blue;
  transform: translateX(100px) rotateY(90deg);
}
.esquerda {
  background-color: green;
  transform: translateX(-100px)   rotateY(-90deg);
}
.cima {
  background-color: black;
  transform: translateY(100px)  rotateX(90deg);
}
.cubo {
  transform-style: preserve-3d;
  width: 200px;
  height: 200px;
  position: relative;
  top: 200px;
  left: 100px;
  transform: rotateX(15deg) rotateY(15deg) translate( 50px);
}
